.products {

    width: 1140px;
    margin: 96px auto 0px;

    &_header3 {
        color: $contentColor2;
        margin-bottom: 6px;
        text-align: center;
        @include Lato400n(30px);
    }
    
    &_subheader {
        color: $contentColor7;
        margin-bottom: 48px;
        text-align: center;
        @include Lato400n(14px);
    }

}

.cards {

    display: flex;
    flex-wrap: wrap;
    gap: 30px;

}

.card {

    background-color: $contentColor3;
    position: relative;

    &_image__selected {
        width: 360px;
        height: 420px;
        position: absolute;
        top: 0px;
        background-color: $contentColor7;
        display: none;
        justify-content: center;
        align-items: center;
    }

    &_header {
        width: 315px;
        color: $contentColor5;
        margin: 20px 18px 0px;
        @include Lato400n(13px);
    }
    
    &_text {
        width: 315px;
        color: $contentColor7;
        margin: 13px 18px;
        @include Lato300n(14px);
    }
    
    &_price {
        width: 315px;
        color: $contentColor1;
        margin: 18px 18px 20px;
        @include Lato400n(16px);
    }

}

.card:hover .card_image__selected {
    display: flex;
}

.add-to-card-button {
    display: flex;
    align-items: center;
    gap: 11px;
    border-color: $contentColor3;
    /* border-width: 2px; */
    background: none;
    padding: 11px 16px 13px 13px;
    color: $contentColor3;
    @include Lato400n(14px);
}

.products_button_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.browse_all_button {

    width: 212px;
    margin-top: 48px;
    margin-bottom: 60px;
    border: 2px solid $contentColor1;
    background-color: $contentColor3;

    &:hover {
        background-color: $contentColor1;
    }

    &_text {
        margin: 15px auto;
        color: $contentColor1;
        text-align: center;
        @include Lato400n(16px);
    }

}


.browse_all_button:hover .browse_all_button_text {
    color: $contentColor3;
}

@media (max-width: 1599px) and (min-width: 768px) {

	.products {

		width: $totalTabletWidth;
		margin: 152px auto 0px;

        &_subheader {
            margin-bottom: 73px;
        }

	}

	.cards {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 16px;
	}

    .card {

        &_header {
            margin: 19px auto 0px 18px;
        }

        &_price {
            margin: 18px auto 20px 18px;
        }

    }

	.browse_all_button {
		margin-top: 32px;
        height: 44px;
        width: 210px;
		margin-bottom: 65px;
	}
    
}

@media (max-width: 767px) and (min-width: 375px) {

    .products {

		width: $totalPhoneWidth;
        margin-top: 64px;
        
        &_header3 {
            padding-left: 5px;
            margin-bottom: 2px;
        }

        &_subheader {
            padding-left: 10px;
            letter-spacing: 0.1px;
            margin-bottom: 66px;
        }

	}

	.cards {
		justify-content: center;
		gap: 14px;
	}

    .card {

        &_header {
            margin: 20px auto 0px 18px;
        }
    
        &_text {
            margin: 13px auto 18px 17px;
        }
    
        &_price {
            margin: 18px auto 20px 18px;
        }
    
        &_image {
            width: 359px;
            height: 420px;
            background-position: center;
            background-size: cover;
        }

    }

	.browse_all_button {
        width: 209px;
        height: 45px;
		margin-top: 40px;
		margin-bottom: 95px;
        margin-right: 15px;

        &_text {
            margin-top: 13px;
        }

	}

}

@media (max-width: 767px) and (min-width: 375px) {


    
}